* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-flow: row;
  background-color: whitesmoke;
  gap: 20px;
  height:100vh;

}

.menu {
  background-color: rgb(32, 32, 56);
  width: 400px;
  height:100vh;
  color: whitesmoke;
  display: flex;
  flex-flow: column;
  gap: 12px;
  transition: all ease-in 0.5s;
  position: relative;
}

.in-menu {
  width: 340px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-radius: 20px;
  margin: 0 20px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.in-menu:hover {
  background-color: rgb(61, 61, 81);

}

.logo {
  width: 380px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 24px;
  font-weight: 700;
}

.menu-toggle {
  position: absolute;
  top: 90%;
  left: 100%;
  transform: translate(-50%);
  padding: 10px 16px;
  border-radius: 50%;
  border: 1px solid gray;
  background-color: whitesmoke;
  color: rgb(32, 32, 56);
  font-size: 20px;
  transition: all ease-in 0.5s;

}

.hidden {
  display: none;
}

